*{
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet-MS', sans-serif;
}


header {
  background-color: #64B6AC;
  padding: 10px;
  text-align: center;
  font-size: 15px;
  color: black;
}


nav {
  float: left;
  width: 20%;
  height: 700px; 
  background: #5D737E;
  padding: 20px;
}


nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: left;
  padding: 20px;
  width: 80%;
  background-color: #DAFFEF;
  height: 700px; 
}


section::after {
  content: "";
  display: table;
  clear: both;
}


footer {
  background-color: #64B6AC;
  padding: 10px;
  text-align: center;
  color: black;
}

@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}

.fa-whatsapp{
  color: green;
  font-size: 2em;
  
}
.fa-instagram{
  color: red;
  font-size: 2em;
}
.fa-github{
  color: purple;
  font-size: 2em;
}

.image{
  height: 200px;
}
.fa-solid{
  margin-right: 5px;
}


